<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <!-- Primary Meta Tags -->

    {{!-- <link rel="manifest" href="/manifest.json"> --}}
    <meta name="theme-color" content="#f9f9f9">
    {{!-- <link rel="apple-touch-icon" href="/images/pwa/icon-192x192.png"> --}}

    <title>{{{title}}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.png"/>
    <meta name="description" content="{{{description}}}"/>
    <meta name="keywords" content="ecommerce, gestão ponta a ponta, vtex, tray, traycorp, implantação, consultoria ecommerce, ecommerce Curitiba, midia, seo, loja virtual">
    {{{robots}}}
    <meta name="revisit-after" content="1 day">
    <meta name="author" content="Benova">
    <link rel="canonical" href="{{{url}}}">


    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{{url}}}">
    <meta property="og:title" content="{{{title}}}">
    <meta property="og:description" content="{{{description}}}">
    <meta property="og:image" content="https://www.benova.ag/images/seo/benova-share.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{{url}}}">
    <meta property="twitter:title" content="{{{title}}}">
    <meta property="twitter:description" content="{{{description}}}">
    <meta property="twitter:image" content="https://www.benova.ag/images/seo/benova-share.jpg">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/geral.css">
    <link rel="stylesheet" type="text/css" href="/fonts/Font Awesome/css/all.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5SDWPZ8');</script>
    <!-- End Google Tag Manager -->
</head>
<script>
    /*if("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/pwa.js")
        .then(function() {
            console.log("ServiceWorker registrado")
        })
        .catch(function(){
            console.log("Erro no registro do serviceWorker")
        })
    }*/
</script>

{{{body}}}

</html>
